<!--<div class="nav-side-menu nav-side-menu-eis min-sidebar">-->
    <!--<div class="menu-list ">-->

        <!--<ul id="menu-content" class="menu-content collapse out">-->

            <!--&lt;!&ndash;<div ng-repeat="menu in $root.$session.menu track by $index">&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-click="openBarTab($index)" uib-tooltip="{{menu.value}}" tooltip-placement="right&ndash;&gt;-->
                <!--&lt;!&ndash;" tooltip-trigger="mouseenter">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img class="sidebar-img" ng-src="images/landing_icon/side-{{menu.color}}.png">&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div>-->
            <!--<ul>-->
              <!--<li href="">-->

              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->

        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div class="sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/">Главная <span class="sr-only">(current)</span></a></li>
    <li ng-click="stateGo('root.profile.userAdd')"><a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить пользователя</a></li>
    <li ng-click="stateGo('root.profile.users')"><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Пользователи</a></li>
    <li ng-click="stateGo('root.profile.dealers')"><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Дилеры</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li ng-click="stateGo('root.materialAdd')"><a href=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Добавить материал</a></li>
    <li  ng-click="stateGo('root.paintings')"><a href=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Материалы - полотна</a></li>
    <li ng-click="stateGo('root.accessories')"><a href=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Материалы - комплектующие</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="/order_list"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Счета</a></li>
    <li><a href="/order_new_list"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Новые счета</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li ng-click="stateGo('root.info')"><a href=""><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Полезная информация</a></li>
  </ul>
</div>
