
<h2>Материалы - комплектующие</h2>
<div class="row">
  <div  ng-if="visible" >
    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="acessory in acessories">
        <td date-title="'ID'" filter="{NAME:'text'}" sortable="'NAME'">
          {{acessory.NAME}}</td>
        <td date-title="'Наименование'" filter="{PRICE:'text'}" sortable="'PRICE'">
          {{acessory.PRICE}}</td>
        <td date-title="'Тип'" filter="{TYPE:'number'}" sortable="'TYPE'">
          {{acessory.TYPE}}</td>
      </tr>
    </table>
  </div>
</div>

<div ng-if="!visible" class="row">
  <div class="col-xs-offset-5 col-md-offset-5 ol-lg-offset-5">
    <h1 >Данные отсутствуют</h1>
  </div>
</div>
