<h2 class="sub-header">Список дилеров</h2>
<div class="table-responsive">
  <div ng-if="visible">
    <table  class="table table-bordered table-striped table-condensed"
            ng-table="tableParams">
      <tr ng-repeat="row in dealers">
        <!--<td data-title="'Имя'" filter="{title: 'text'}" sortable="'title'">-->
          <!--{{row.NAME}}-->
        <!--</td>-->
        <td data-title="'ФИО'">
          {{row.NAME}}
        </td>
        <td data-title="'e-mail'">
          {{row.EMAIL}}
        </td>
        <td data-title="'Город'" >
          {{row.CITY}}
        </td>
        <td data-title="'Телефон'" >
          {{row.PHONE}}
        </td>
        <td data-title="'Доступ'" >
          {{row.ACTIVE}}
        </td>
        <!--<td data-title="'Кол-во заказов'" class="center-block">-->

        <!--</td>-->
        <!--<td data-title="'Общая сумма'" class="center-block">-->

        <!--</td>-->
        <!--<td data-title="'Внесено денег'" class="center-block">-->

        <!--</td>-->

      </tr>
    </table>
  </div>

  <h2 ng-if="!visible"
      class="text-center">
    Список пуст
  </h2>
</div>

</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Статистика
        <button type="submit" class="btn btn-default pull-right buttonHeader" id="get_report">Скачать отчёт</button>
      </div>

      <div class="panel-body">
        Общая сумма заказов: 2224.98$<br>
        Общая сумма задолженности: 123452377.03$<br>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
