<h2>Материалы-полотна</h2>
<div class="row table-responsive">
  <div  ng-if="visible">
    <table ng-table="tableParams" class="table table-striped table-bordered table-condensed">
      <tr ng-repeat="row in materials">
        <td data-title="'ID'">
          {{row.NAME}}
        </td>
        <td data-title="'Наименование'" >
          {{row.PRICE}}
        </td>
        <td date-title="'Тип материала'">
          {{row.TYPE}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div ng-if="!visible" class="row">
  <div class="col-xs-offset-5 col-md-offset-5 ol-lg-offset-5">
    <h1 >Данные отсутствуют</h1>
  </div>
</div>
