<h2>Пользователи</h2>
<div class="row">
  <div ng-if="visible">
    <table  ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
      <tr ng-repeat="row in users">
        <td data-title="'ID'" filter="{ID:'text'}" sortable="'ID'">
          {{row.ID}}</td>
        <td data-title="'ФИО'" filter="{NAME:'text'}" sortable="'NAME'">
          {{row.NAME}}</td>
        <td data-title="'Email'" filter="{EMAIL:'number'}" sortable="'EMAIL'">
          {{row.EMAIL}}</td>
      </tr>
    </table>
  </div>
</div>

<div ng-if="!visible" class="row">
  <div class="col-xs-offset-5 col-md-offset-5 ol-lg-offset-5">
    <h1 >Данные отсутствуют</h1>
  </div>
</div>
