<h2>Пользователи</h2>
<div class="row">
  <table ng-if="visible" ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in users">
      <td title="'ID'" filter="{id:'text'}" sortable="'id'">
        {{user.id}}</td>
      <td title="'Name'" filter="{name:'text'}" sortable="'name'">
        {{user.name}}</td>
      <td title="'Age'" filter="{age:'number'}" sortable="'age'">
        {{user.age}}</td>
    </tr>
  </table>
</div>

<div ng-if="visibleNodata" class="row">
  <div class="col-xs-offset-5 col-md-offset-5 ol-lg-offset-5">
    <h1 >Данные отсутствуют</h1>
  </div>
</div>
