<div class="nav-side-menu nav-side-menu-eis min-sidebar">
    <div class="menu-list ">

        <ul id="menu-content" class="menu-content collapse out">

            <!--<div ng-repeat="menu in $root.$session.menu track by $index">-->
                <!--<li ng-click="openBarTab($index)" uib-tooltip="{{menu.value}}" tooltip-placement="right-->
                <!--" tooltip-trigger="mouseenter">-->
                    <!--<img class="sidebar-img" ng-src="images/landing_icon/side-{{menu.color}}.png">-->
                <!--</li>-->
            <!--</div>-->
          <div>
            <ul>
              <li href="">

              </li>
            </ul>
          </div>

        </ul>
    </div>
</div>
